@charset "UTF-8";

body {
    background-color: rgb(181, 255, 132);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(103, 250, 4);
}

h1#principal {
    text-align: center;
    background-color: rgb(103, 250, 4);
    color: white;
}

h2 {
    color: rgb(6, 173, 173);
}

.basico {
    color: rgb(6, 173, 173);
}

.intermediario {
    color: rgb(173, 162, 6);
}

.avancado {
    color: rgb(173, 17, 6);
}

.destaque {
    background-color: rgba(192, 192, 86, 0.411);
}